// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image:url('Vertical chip.png');
}

.container {
	background-color: white;
}

.container2 {
	background-color: teal;
	text-indent: 5px;
	text-shadow: 3px, 3px ;
	border-radius: 10px;
}

h1{
	text-align:center;
}

#prompt{
	margin-left:50px;
	color:white;
	font-size:15px;
	position:relative;
	top:-20px;
}

#iframe{
	height:800px;
	width:1300px;
	position:relative;
	left:50px;
	background-color:black;
}

#key{	
	width:107px;
	background-color:white;
	position:absolute;
	left:50px;
	top:300px;
	padding:5px;
}

#S {
	width: 107px;
	position: absolute;
	left: 50px;
	top: 100px;
}

#MV {
	position: absolute;
	left: 50px;
	top: 150px;
}

#user_location {
	width: 100px;
	position: absolute;
	left: 50px;
	top: 200px;
}

#user_submit {	
	position: absolute;
	left: 50px;
	top: 240px;
}

#map_canvas img { max-width: none; }